<h1>Add a new CD for @Model.["artist"].GetArtist()</h1>
<form action="/view_titles" method ="post">
  <input id="artist-id" name ="artist-id" type = "hidden" value ='Model["artist"].GetId()'>
  <label for = "cd-title">CD title</label>
  <input id="cd-title" name ="cd-title" type ="text">
  <button type ="submit">Add CD</button>
</from>
