<h1>File a CD</h1>
<h3>Add a new CD</h3>
<form action="/" method="post">
  <label for="new-title">Album Title</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-artist">Artist</label>
  <input id="new-artist" name="new-artist" type="text">
  <button type="submit">File CD</button>
</form>
