<form action="/view_result" method="post">
  <label for="artist">Artist name</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Search</button>
</form>
<p><a/ href="/">Back home</a></p>
